/* Styles communs pour les formulaires de connexion et d'inscription */
.form-container {
    border: 2px solid #FFDAB9;
    border-radius: 10px;
    background-color: #fce083;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

.form-title {
    text-align: center;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #ff85c3;
    color: #fce083;
    border: 2px solid #FFDAB9;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
}

/* Styles spécifiques au formulaire de connexion */
.not-registered {
    margin-top: 10px;
}

.registration-link {
    color: #000;
    text-decoration: none;
}

.registration-link:hover {
    cursor: pointer;
    color: #ff69b4; 
}


/*Styles spécifiques aux liens de tri des pages Univers*/
.sorting-container {
    display: flex;
    align-items: center;
}

.sorting-label {
    color: #ff69b4; 
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
}

.sorting-buttons-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sorting-button {
    display: inline-block;
    padding: 8px 15px;
    border: 2px solid #ff69b4; 
    border-radius: 10px;
    background-color: #ffc0cb;
    color: #ff69b4;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom :10px;
    transition: background-color 0.3s, color 0.3s;
}

.sorting-button:hover {
    background-color: #ff69b4;
    color: #ffc0cb;
}

/*page Accueil*/
#loreDuJeu {
  background-color: #ffffcc; /* Fond jaune */
  border: 2px solid #e6e600; /* Bordure jaune un peu plus foncée */
  border-radius: 10px; /* Bordure arrondie */
  padding: 15px; /* Espace intérieur du paragraphe */
}



/* active
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
  }
  */
  /*
  nav{
    width: 100%;
    margin: 0 auto;
    background-color: orange;
    position: sticky;
    top: 0px;
  }
  
  nav ul{
    list-style-type: none;
  }
  
  nav ul li{
    float: left;
    width: 10%;
    text-align: center;
    position: relative;
    margin-right: 5px;
  }
  
  nav ul li:last-child{
    margin-right: 0;
  }
  
  nav ul::after{
    content: "";
    display: table;
    clear: both;
  }
  
  nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
  }
  
  nav a:hover{
    color: red;
    border-bottom: 2px solid gold;
  }
  
  .sousOngletsUnivers{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
  }
  nav > ul li:hover .sousOngletsUnivers{
    display: block;
  }
  .sousOngletsUnivers li{
    float: none;
    width: 100%;
    text-align: left;
  }
  .sousOngletsUnivers a{
    padding: 10px;
    border-bottom: none;
  }
  .sousOngletsUnivers a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
  }
  .ongletUnivers > a::after{
    content:" ▼";
    font-size: 12px;
  }
  
  .barreRecherche {
    height: 100%;
    margin: 0 1rem;
    position: relative;
  }
  
  .searchbar {
    font-size: 2.4rem;
    width: 125px;
    height: 5px;
    border: none;
    outline: none;
    border-radius: 10rem;
    padding: 10px;
    transition: all 0.1s;
    transition-delay: 0.1s;
    font-size: 18px;
  }
  
  .searchbar:hover {
    width: 135px;
    height: 7px;
  }
  
  .button {
    height: 1rem;
    position: absolute;
    top: 0.4rem;
    right: 0.6rem;
    transition: all 0.1s;
    transition-delay: 0.1s;
  }
  
  .button:hover {
    cursor: pointer;
  }
  
  .searchbar:hover + .button {
    height: 2.5rem;
    top: 1.8rem;
    right: 0;
  }
  
  .searchbar::placeholder {
    opacity: 0.3;
    font-size: 18px;
  
  }
  
  .input-search {
    width: 150px;
    margin-right: 10px;
  }
  */
  /*
  .logo-img{
    width: 70px;
    height: 70px;
  }
  */
  
  footer{
    /*
    width: 100%;
    margin: 0 auto;
    background-color: orange;
    position: sticky;
    top: 0px;
    */
    position: absolute;
    bottom: 0;
    background-color: orange;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  footer ul{
    list-style-type: none;
  }
  
  footer ul li{
  }
  
  footer ul li{
    float: left;
    width: 20%;
    text-align: center;
    position: relative;
  }
  
  footer ul::after{
  }
  
  footer ul::after{
    content: "";
    display: table;
    clear: both;
  }
  
  footer a{
  }
  
  footer a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
  }
  
  footer a:hover{
    color: red;
    border-bottom: 2px solid gold;
  }
  
  .logo img{
    width: 70px;
    height: 70px;
    justify-content: center;
  }
  
  .logo{
  }
  
  .logo{
    text-align: center;
  }
  
  .icon img{
  }
  
  .icon img{
    width: 20px;
    height: 20px;
    align-items: right;
  }
  
  .icon ul{
  }
  
  .icon ul{
    padding: 0;
    margin: 0;
  }
  
  html{
  }
  
  html{
    height: 100%;
  }
  
  body{
  }
  
  body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
 
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
  }
  
  html,body{
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  
  body{
    display: table;
    width: 100%;
  }
  
  
  #main{
  }
  
  
  #main{
    min-height: 100%;
    position: relative;
    padding-bottom: 100px;
  }
  
  .histoire{
    /*border: 5px solid;*/
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  
  .histoire h3{
  }
  
  .histoire h3{
    color: lightpink;

  }
  
  .histoire img{
    width: 15%;
    margin: auto;
    padding: 10px;

  }
  
  .imgText p{
    border: 2px solid;
    padding-left: 2%;
    padding-right: 2%;
    width: 115px;
  }
  
  .gameplayVideo{
    text-align: center;
  }
  
  .bg-orange {
    background-color: orange;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
  }

 .navbar-nav .nav-item {
    flex: 1;
    text-align: center;
 }
 main{
  flex: 1;
  overflow: auto;
  color:black;
  background-image: url(ressources/imagedefond.jpg);
  width: 100%;
  height: 750px;

}

.responsive-video{
  margin-bottom: 50px;
}

.Telechargement{
  margin-bottom: 50px;
}

.lienJeu{
  margin-bottom: 0px;
  font-size: 1.4rem;
  text-align: center;
}





/* Tableaux app */

table {
  table-layout: fixed;
  width: 90%;
  background-color: #F081B6;
  border-radius: 5%;
  margin-top: 5px;

}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th,
td {
  padding: 20px;
}

thead th,
tfoot th {
  font-family: "Rock Salt", cursive;
}

th {
  letter-spacing: 2px;
  text-align: center;
}

td {
  letter-spacing: 1px;
  border: solid 1px black;
  border-radius: 5%;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

thead,
tfoot {
 
  color: white;
  text-shadow: 1px 1px 1px black;
}

thead th,
tfoot th,
tfoot td {
  background: linear-gradient(
    to bottom,
    
    rgba(0, 0, 0, 0.5)
  );
 
}

tbody tr:nth-child(odd) {
  background-color: #ffeaf9;
}

tbody tr:nth-child(even) {
  background-color: #FFC6EF;
}

.image-rond{
  width : 150px; height : 150px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;

}
#bouton{
  background-color:#F081B6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5%;
}
#bouton:hover{
  color:#F081B6;
  background: #ffeaf9;
}

#menuClassement{
  display: block;

}
#menuClassement{ 
float: left; /* effet flottant */
text-decoration: none; /* pas d'héritage avec effet souligné */
color: #F081B6; /* couleur du texte */
background:  #ffeaf9; /* couleur de fond */

padding: 15px 32px; /* marges intérieur */
font-family: sans-serif; /* police d'écriture */
font-size: 16px; /* taille du texte */
transition: .5s; /* temps de transition lors du hover : une demi seconde */
border-radius: 5%;
}
#menuClassement:hover{ /* tous liens lors du survol dans la balise nav */
background:#F081B6; /* couleur de fond */
color:#ffeaf9;
}

#labelNiveau{
  background:#F081B6; /* couleur de fond */
color:#ffeaf9
}
#niveauSel{
  background:#F081B6; /* couleur de fond */
color:#ffeaf9;
border-radius: 10%;
}
#photo{
  position:relative;
}

/* Profil  */
 
.profile-container{
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

#photoProfil, 
#photoProfil2 {
 width: 3cm;
 height:  3cm; 
 border-radius: 50%;
}

.profile-info {
  display: flex;
  justify-content: flex-start;
}

.user-info {
  flex: 1;
  margin-right: 30px;   
}

.colonne-classement {
  flex: 1;
  width: 100%;
  margin-right: 30px;   
}


.table-amis {
  border: 1px solid transparent;  
  border-color: none;
  max-width: 40%;
  border-radius: 20px;
 
 }
 .table-cell a, .table-cell form {
  display: inline-block;
  margin-right: 10px; /* Ajustez cette valeur selon vos besoins */
}



 .classementEtAmi {
  display: flex;
  justify-content: center;
 }

#ZoneDeTexte{
  border-radius: 20%;
}

 .profilClassement{
  width: 100%;

 }

 .table-amis{
  margin-left:100px;
  margin-bottom:10px;

}

 .profile-container.table-cell form input[type="submit"] {
  background-color: #F081B6;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5%;
  cursor: pointer;
}

.profile-container.table-cell form input[type="submit"]:hover {
  background-color: #ffeaf9;
  color: #F081B6;
}

 /* test*/

.profile-container button, 
submit {
  border-radius: 20px;

}
 .profile-info {
  background-color: #f4d7eb;
  padding: 20px;
  margin: 20px;
  justify-content: center;
  border-radius: 30px;

}



.profile-info button {
  border-radius: 20px;

}
#login, 
#description {
    border: 1px solid #ff66b2;
    border-radius: 20px;
    padding: 5px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 16px;
    color: #333;
}
 

 

 

 
#bouton1{
  background-color:#F081B6;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5%;
}
 

h2{
  color:#c53078;
  text-shadow: #b84b7f;

}
a{
  color:#b84b7f;
}
 .dropdown{
  display: inline-block;
 }
.dropdown button{
  text-decoration: none; /* pas d'héritage avec effet souligné */
  color: #F081B6; /* couleur du texte */
  background:  #ffeaf9; /* couleur de fond */
  
  padding: 15px 32px; /* marges intérieur */
  font-family: sans-serif; /* police d'écriture */
  font-size: 16px; /* taille du texte */
  transition: .5s; /* temps de transition lors du hover : une demi seconde */
  border-radius: 5%;
  }
.dropdown a{
display: block;
color: #b84b7f ;
padding:10px 15px;
}
.dropdown .content{
  display:none;
  position:absolute ;
  background-color:#FFC6EF;
  min-width: 100px;
  box-shadow: 2px 2px 5px hotpink;

}
.dropdown:hover .content{
  display: block;
}
.dropdown:hover button{
  background:#F081B6; /* couleur de fond */
color:#ffeaf9;
}