/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: orange;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 15%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: red;
    border-bottom: 2px solid gold;
}

.sousOngletsUnivers{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sousOngletsUnivers{
    display: block;
}
.sousOngletsUnivers li{
    float: none;
    width: 100%;
    text-align: left;
}
.sousOngletsUnivers a{
    padding: 10px;
    border-bottom: none;
}
.sousOngletsUnivers a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.ongletUnivers > a::after{
    content:" ▼";
    font-size: 12px;
}

.barreRecherche {
    /*width: 25rem;*/
    height: 100%;
    margin: 0 1rem;
    position: relative;
}

.searchbar {
    font-size: 2.4rem;
    width: 125px;
    height: 5px;
    border: none;
    outline: none;
    border-radius: 10rem;
    padding: 10px;
    transition: all 0.1s;
    transition-delay: 0.1s;
    font-size: 18px;
}

.searchbar:hover {
    width: 135px;
    height: 7px;
}

.button {
    height: 1rem;
    position: absolute;
    top: 0.4rem;
    right: 0.6rem;
    transition: all 0.1s;
    transition-delay: 0.1s;
}

.button:hover {
    cursor: pointer;
}
  
.searchbar:hover + .button {
    height: 2.5rem;
    top: 1.8rem;
    right: 0;
}

.searchbar::placeholder {
    opacity: 0.3;
    font-size: 18px;

}


footer{
    /*
    width: 100%;
    margin: 0 auto;
    background-color: orange;
    position: sticky;
    top: 0px;
    */
    position: absolute;
    bottom: 0;
    background-color: orange;
    width: 100%;
}

footer ul{
    list-style-type: none;
}

footer ul li{
    float: left;
    width: 20%;
    text-align: center;
    position: relative;
}

footer ul::after{
    content: "";
    display: table;
    clear: both;
}

footer a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

footer a:hover{
    color: red;
    border-bottom: 2px solid gold;
}

.logo img{
    width: 70px;
    height: 70px;
    justify-content: center;
}

.logo{
    text-align: center;
}

.icon img{
    width: 20px;
    height: 20px;
    align-items: right;
}

.icon ul{
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: table;
    width: 100%;
}

#main{
    min-height: 100%;
    position: relative;
    padding-bottom: 100px;
}

.histoire{
    /*border: 5px solid;*/
    margin: auto;
    width: 50%;
    padding: 10px;
}

.histoire h3{
    color: lightpink;
}

.histoire img{
    width: 15%;
    margin: auto;
    padding: 10px;
}

.imgText p{
    border: 2px solid;
    padding-left: 2%;
    padding-right: 2%;
    width: 95px;
}

