    footer{
    position: relative;
    bottom: 0%;
    background-color: orange;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
  }
  
  footer ul{
    list-style-type: none;
  }
  
  footer ul li{
    float: left;
    width: 20%;
    text-align: center;
    position: relative;
  }
  
  footer ul::after{
    content: "";
    display: table;
    clear: both;
  }
  
  footer a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 5px 0px;
  }
  
  footer a:hover{
    color: red;
    
  }
  
  .logo img{
    width: 70px;
    height: 70px;
    justify-content: center;
  }
  
  .logo{
    text-align: center;
  }
  
  .icon img{
    width: 20px;
    height: 20px;
    align-items: right;
  }
  
  .icon ul{
    padding: 0;
    margin: 0;
  }
  
  html{
    height: 100%;
  }
  
  body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;

    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
  }
  
  html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
  }
  
  
  body{
    display: table;
    width: 100%;
  }
  
  
  #main{
    min-height: 100%;
    position: relative;
    padding-bottom: 100px;
    margin-bottom: 150px;
  }
  
  .histoire{
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  
  .histoire h3{
    color: lightpink;
  }
  
  .histoire img{
    width: 15%;
    margin: auto;
    padding: 10px;
  }
  
  .imgText p{
    border: 2px solid;
    padding-left: 2%;
    padding-right: 2%;
    width: 115px;
  }
  
  .gameplayVideo{
    text-align: center;
  }
  
  .bg-orange {
    background-color: orange;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
  }

 .navbar-nav .nav-item {
    flex: 1;
    text-align: center;
 }
 main{
  flex: 1;
  overflow: auto;
  color:black;
  background-image: url(ressources/tous/imagedefond.jpg);
  width: 100%;
  height: 785px;

}

.responsive-video{
  margin-bottom: 50px;
}

.Telechargement{
  margin-bottom: 50px;
}

.lienJeu{
  margin-bottom: 0px;
  font-size: 1.4rem;
  text-align: center;
}

.image-rond{
  width : 150px; height : 150px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;

}

.tableau-parties {
  table-layout: fixed;
  width: 90%;
  background-color: #F081B6;
  border-radius: 5%;
  margin-top: 5px;
  margin-left: 10px;
}

.tableau-parties thead th:nth-child(1) {
  width: 30%;
}

.tableau-parties thead th:nth-child(2) {
  width: 20%;
}

.tableau-parties thead th:nth-child(3) {
  width: 15%;
}

.tableau-parties thead th:nth-child(4) {
  width: 35%;
}

.tableau-parties th,
.tableau-parties td {
  padding: 20px;
}

.tableau-parties thead th,
.tableau-parties tfoot th {
  font-family: "Rock Salt", cursive;
}

.tableau-parties th {
  letter-spacing: 2px;
  text-align: center;
}

.tableau-parties td {
  letter-spacing: 1px;
  border: solid 1px black;
  border-radius: 5%;
}

.tableau-parties tbody td {
  text-align: center;
}

.tableau-parties tfoot th {
  text-align: right;
}

.tableau-parties thead,
.tableau-parties tfoot {
  color: white;
  text-shadow: 1px 1px 1px black;
}

.tableau-parties thead th,
.tableau-parties tfoot th,
.tableau-parties tfoot td {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5)
  );
}

.tableau-parties tbody tr:nth-child(odd) {
  background-color: #ffeaf9;
}

.tableau-parties tbody tr:nth-child(even) {
  background-color: #FFC6EF;
}

.ennemi {
  margin-bottom: 20px;
}

.card {
  border: 2px solid #ffc107; 
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffebee; 
  width: 200px;
  margin-right: 20px; 
  margin-left: 20px;
}

.card-title {
  text-align: center;
  margin-top: 10px;
  color: #e91e63;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body {
  text-align: center;
  padding: 10px;
}

.caracteristique {
  color: #e91e63; 
  margin-bottom: 5px;
  display: inline-block;
}

.hr-divider {
  margin: 10px 0;
  width: 80%; 
}

.ustensile {
  margin-bottom: 20px;
}

.card-ustensile {
  border: 2px solid #ffc107;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffebee; 
  width: 200px; 
  margin-right: 20px;
  margin-left: 20px;
}

.card-title-ustensile {
  text-align: center;
  margin-top: 10px;
  color: #e91e63; /
}

.card-img-top-ustensile {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body-ustensile {
  text-align: center;
  padding: 10px;
}

.caracteristique-ustensile {
  color: #e91e63;
  margin-bottom: 5px;
  display: inline-block;
}

.hr-divider-ustensile {
  border: none;
  margin: 10px 0;
  width: 80%; 
}

.bonus {
  margin-bottom: 20px;
}

.card-bonus {
  border: 2px solid #ffc107;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffebee;
  width: 200px;
  margin-right: 20px;
  margin-left: 20px;
}

.card-title-bonus {
  text-align: center;
  margin-top: 10px;
  color: #e91e63;
}

.card-img-top-bonus {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body-bonus {
  text-align: center;
  padding: 10px;
}

.caracteristique-bonus {
  color: #e91e63;
  margin-bottom: 5px;
  display: inline-block;
}

.hr-divider-bonus {
  border: none;
  margin: 10px 0;
  width: 80%;
}

.niveau {
  margin-bottom: 20px;
}

.card-niveau {
  border: 2px solid #ffc107;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffebee;
  width: 200px;
  margin-right: 20px;
  margin-left: 20px;
}

.card-title-niveau {
  text-align: center;
  margin-top: 10px;
  color: #e91e63;
}

.card-img-top-niveau {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body-niveau {
  text-align: center;
  padding: 10px;
}

.caracteristique-niveau {
  color: #e91e63;
  margin-bottom: 5px;
  display: inline-block;
}

.hr-divider-niveau {
  border: none;
  margin: 10px 0;
  width: 80%;
}



.Acctexte {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: yellow;
  border-radius: 15px;
  padding: 10px;
}







































